extends layout

block content
  .questions
    each question in questions
      - var questionUrl = "/questions/" + question.id
      .question
        h1.question-title= question.title
        p.question-description= question.description
      .answers
        each answer in question.Answers
          - var answerUrl = questionUrl + "/answers/" + answer.id
          form(action=answerUrl, method='post')
            .answer
              a.btn.btn-primary.btn-lg.answer-button(type='submit' role='button')= answer.description