extends layout

block content
  - var userUrl = "/users/" + userToken
  .questions
    each question in questions
      - var questionUrl = userUrl + "/questions/" + question.id
      .question
        .question-title= question.title
        .question-description= question.description
      .answers
        each answer in question.Answers
          - var answerUrl = questionUrl + "/answers/" + answer.id
          form(action=answerUrl, method='post')
            .answer
              .answer-description= answer.description
              input.answer-button(type="submit")