.home .question {
  background-color: #F7F7F7;
  margin-bottom: 1em;
  padding: 100px 0;
  text-align: center;
}

.home .answer {
  margin-bottom: 1em;
}

.home .answer input {
  width: 100%;
}

.elder .questions .answers {
  margin-bottom: 1em;
}

.elder .questions .answer {
  background-color: #eee;
  border-radius: 3px;
  padding: 5px 8px;
}

.elder .new-answer input {
  margin-bottom: 0.5em;
}

.elder .answer-count {
  background-color: #666E88;
  border-radius: 5px;
  color: #fff;
  padding: 5px 12px;
}

.elder .results .answer {
  padding: 15px;
}

.elder .results .answer-description {
  display: inline-block;
  float: left;
  font-size: 1.5em;
  margin-right: 10px;
}

.elder .results .answer-count {
  display: inline-block;
  float: right;
  margin-right: 10px;
}

.results .answer {
  margin-bottom: 1em;
}

.questions.edit .question {
  margin-bottom: 2em;
}

.questions.edit .answer {
  margin-bottom: 1em;
  padding: 10px 15px;
}

.questions.edit .answer form {
  display: inline-block;
  float: right;
}

.questions.edit .answer-description {
  float: left;
  font-size: 1.5em;
}

