extend layout

block content
  h1 Results
  .results
    .questions
      each question in questions
        hr
        .question
          h2.question-title= question.title
        .answers
          .row
            each answer in question.Answers
              .col-xs-6.col-sm-6.col-md-6
                .answer.clearfix
                  span.answer-description= answer.description
                  span.answer-count= answer.UserAnswerCount