extend layout

block content
  h1 Login
  form(action='/elder/login', method='post')
    .form-group
      label(for='emailInput') Email
      input#emailInput.form-control(type='text' name='email')
    .form-group
      label(for='passwordInput') Password
      input#passwordInput.form-control(type='password' name='password')
    button.btn.btn-default(type='submit') Login