extend layout

block content
  h2 Results
  .results
    h2 Questions
    .questions
      each question in questions
        .question
          h3.question-title= question.title
          h2 Answers
          .answers
            each answer in question.Answers
              .answer
                h3.answer-description= answer.description
                h5 How Many Chose This Answer?
                span= answer.UserAnswerCount