extend layout

block content
  h1 Questions
  .questions
    each question in questions
      - var questionUrl = "/admin/questions/" + question.id
      - var newAnswerUrl = questionUrl + "/answers/new"
      hr
      .question
        h3.question-title= question.title
        p.question-description= question.description
      .answers
        each answer in question.Answers
          .answer= answer.description
          
      form.new-answer(action=newAnswerUrl, method='post')
        .form-group
          label(for='answerInput') Add Answer
          input#answerInput.form-control(type'text' name='answerDescription')
          button.btn.btn-default(type='submit') Save
  hr
  h2 Add Question
  form(action='/admin/questions/new', method='post')
    .form-group
      label(for='questionTitleInput') Title
      input#questionTitleInput.form-control(type='text' name='questionTitle')
    .form-group
      label(for='questionDescriptionInput') Description
      input#questionDescriptionInput.form-control(type='text' name='questionDescription')
    button.btn.btn-default(type='submit') Save