extends layout

block content
  .users
    each user in users
      .users
        .user-token= user.userToken
      .user-answers
        each userAnswer in user.UserAnswers
          .user-answer= userAnswer.AnswerId